<p>joe rogan is not interesting</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>.</p>
<br>
<p>You've seen the secret. It's time to <%= link_to "logout", logout_path %>.</p>
